.gallery_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  width: 100%;
  overflow: hidden;
  max-width: 100vw;

  padding-right: 180px;
}

.gallery__strip {
  min-height: 100vh;
}

.gallery__strip__wrapper {
  flex: 0 0 100%;
  justify-content: flex-end;
  border-right: 2px solid white;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .gallery_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow wrapping to the next row */
    /* border: 1px solid red; */
    height: 520px;
    justify-content: space-between;
    align-items: center;
    padding-right: 0px;
  }

  .gallery__strip__wrapper {
    flex: 0 0 50%; /* Set width to 50% to show two strips side by side */
    /* border: 3px solid green; */
    margin-bottom: 4px;
  }
  .gallery__strip.two {
    width: 100%; /* Ensure each strip takes up full width */
    display: block;
    animation: 30s move-it ease alternate infinite 2s;
    transform: translateY(2%);
  }

  .gallery__strip.one {
    width: 100%; /* Ensure each strip takes up full width */
    display: block;
    animation: 15s move-it ease alternate infinite 2s;
    transform: translateY(-2%);
  }

  .gallery__strip.three,
  .gallery__strip.four {
    display: none; /* Hide other strips */
  }

  .photo {
    position: relative;
    text-align: right;
    padding-bottom: 3rem;
  }

  .photo__image img {
    width: 100%;
    transform: none;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .photo__name {
    text-transform: lowercase;
    font-size: 20px !important;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-top: 0px;
    transition: 0.4s ease-in-out 0.4s;
    position: relative;
    margin-top: -15px !important;
    width: 1%;
    /* display: none; */
  }

  .gallery__strip:hover {
    animation-play-state: paused;
  }

  .photo:hover .photo__image img {
    transform: none;
  }
}

@media (min-width: 950px) {
  .gallery_box {
    height: 100vh;
  }

  .gallery__strip.one {
    animation: 30s move-it ease alternate infinite 2s;
    transform: translateY(2%);
  }

  .gallery__strip.three {
    animation: 30s move-it ease alternate infinite 2s;
    transform: translateY(2%);
  }

  .gallery__strip.two {
    animation: 38s move-it-2 ease alternate infinite 2s;
    transform: translateY(-50%);
  }

  .gallery__strip.four {
    animation: 35s move-it-2 ease alternate infinite 2s;
    transform: translateY(-50%);
  }

  .gallery__strip:hover {
    animation-play-state: paused;
  }

  .gallery__strip__wrapper {
    flex: 0 0 25%;
  }
}

.photo {
  position: relative;
  text-align: right;
  padding-bottom: 3rem;
}

.photo__image img {
  width: 90%;
  transform: translateX(30%);
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.photo__name {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 2px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-top: -25px;
  transition: 0.4s ease-in-out 0.4s;
  position: relative;
  width: 100%;
}

.photo:hover .photo__image img {
  transform: translateX(10%);
}

.photo:hover .photo__name {
  color: #fff;
}

@keyframes move-it {
  0%,
  90%,
  100% {
    transform: translateY(2%);
  }
  45% {
    transform: translateY(-50%);
  }
}

@keyframes move-it-2 {
  0%,
  90%,
  100% {
    transform: translateY(-50%);
  }
  45% {
    transform: translateY(5%);
  }
}
